<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <!--wcf service-->
  <system.serviceModel>
    <services>
      <!--name 就是服务名，behaviorConfigguration:服务暴露源数据-->
      <service name="WCF.Sample.Domain.People" behaviorConfiguration="MessageBehavior">
        <host>
          <baseAddresses>
              <!--客户端引用地址-->
              <!--作为endpoint基地址存在-->
            <add baseAddress="http://localhost:11245/Sample"/>
          </baseAddresses>
        </host>
        <!--为空，默认就是上面的baseAddress-->
        <endpoint address="" binding="wsHttpBinding"
                 contract="WCF.Sample.Domain.IFly" >
          
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <behaviors >
      <serviceBehaviors>
        <behavior name="MessageBehavior">
          <!--用于让客户端元数据使用-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>