
@{
    ViewBag.Title = "JqueryTest";
}

<h2>JqueryTest</h2>
@section script{
<script src="~/Scripts/jquery.util.js"></script>
<script>
    var obj = {
        person: {
            name: 'wangze',
            age: 18,
            IdCard: '320483199107283118'
        },
        relative: ['mother', 'father', 'grandpa']
    };
    //console.log($.stringify({'name':'wangze','age':18}));
</script>

}

