<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFly" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11245/Sample" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFly" contract="Host.IFly"
                name="WSHttpBinding_IFly">
                <identity>
                    <userPrincipalName value="WANGZ\wz" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>